<!-- app/views/admin/basentas/new.html.erb -->
<h1>Add New Basenta</h1>

<%= render 'form', basenta: @basenta %>

<%= link_to 'Back to Basentas', admin_basentas_path, class: 'btn btn-secondary mt-3' %>
