<!-- app/views/shared/_navbar.html.erb -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand mx-auto" href="#">UDRS</a>
  </div>
</nav>
